[req]
distinguished_name = ripojitori
x509_extensions = v3_req
prompt = no
[ripojitori]
C = GE
ST = State
L = Location
O = benzisolutions
OU = benzisolutions Apps 
CN = ec2-3-134-111-217.us-east-2.compute.amazonaws.com
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.ec2-3-134-111-217.us-east-2.compute.amazonaws.com
DNS.2 = ec2-3-134-111-217.us-east-2.compute.amazonaws.com
DNS.3 = ec2-3-134-111-217.us-east-2.compute.amazonaws